<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>

  <name>SqueezeCenter</name>

  <service>
    <type>_http._tcp</type>
    <port>9000</port>
  </service>

  <service>
    <type>_slimhttp._tcp</type>
    <port>9000</port>
  </service>

</service-group>
